[Unit]
Description=gunicorn daemon
After=network.target
 
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory={{ systemd_site.working_directory }}
ExecStart={{ systemd_site.exec_start }}

[Install]
WantedBy=multi-user.target
